*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
body > h2{
    width: 1000px;
    margin: auto;
    padding: 10px 0;
    height: 60px; 
    text-align: center;
    /* background-color: azure; */
}

.contents{
    width: 1000px;
    margin: 0 auto 20px;
    display: flex;
    gap: 10px;
}


.card{
width: 300px;
background-color: #333;
border-radius: 20px;
color: #fff;
position: relative;
overflow: hidden;
}
.card img{
    width: 100%;
    display: block;
}

/* 뉴 */
.badge{
    background-color: red;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    border-radius: 20px;
}
.content{
    padding: 15px;
}
.content h2{
    margin-bottom: 10px;
}
.content p{
    color: #aaa;
    margin-bottom: 20px;
}
.content button{
    width: 100%;
    border: none;
    background-color: #ff4d4d;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    transition: all 0.3s;
}
.content button:hover{
    background-color: #d83131;
}

/* 디자인 영역 */
.musicalwrap{
    width: 1200px;
    margin: auto;
    display: flex;
    gap: 20px;
}
.musical-card{
    width: calc(100%/4);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.ticketimg img{
    width: 100%;
    display: block;
}

/* 이미지 위에 랭킹 */
.ticketimg{
    height: 380px;
    position: relative;
 
}
.img-bg{
    width: 100% ;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
       background: linear-gradient(180deg, transparent 70%, rgba(0,0,0,0.3));
}

.ticketrank{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    font-weight: bold;
}
.ticketinfo{
    padding: 10px;
}
.ticketinfo h3{
margin-bottom: 15px;
}
.ticketsale {
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ef3e43;
    margin-top: 15px;
    display: inline-block;
}